#root {
    .sk-layout {
        .title {
            display: flex;
            color: #fff;
            flex: 0 0 250px;
            align-items: center;
            justify-content: space-between;
            margin-right: 1rem;

            a,
            a img {
                height: 90%;
            }
        }

        .sk-layout__top-bar {
            background: #104200;
        }

        .sk-hits-list {
            align-items: inherit;
        }

        .document-search-result {
            background-color: #eee;
            margin-bottom: 1rem;

            .sk-hits-list__item {
                margin-bottom: 0;
            }

            .sk-hits-list-hit {
                overflow: hidden;
                border: 1px solid #eee;
                position: relative;
                width: 100%;

                &:hover {
                    &:before {
                        content: "Show more";
                        position: absolute;
                        z-index: 1;
                        top: 0.5rem;
                        right: 0.5rem;
                        pointer-events: none;
                    }
                }

                &[expanded]:hover {
                    &:before {
                        content: "Show less";
                    }

                    &:after {
                        background-image: none;
                    }
                }

                &:not([expanded]) {
                    max-height: 300px;

                    &:after {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        bottom: 0;
                        left: 0;
                        pointer-events: none;
                        background-image: linear-gradient(
                            to bottom,
                            rgba(255, 255, 255, 0),
                            rgba(255, 255, 255, 1) 90%
                        );
                        width: 100%;
                        height: 4rem;
                    }
                }

                .sk-hits-list-hit__details {
                    -webkit-box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.3);
                    -moz-box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.3);
                    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.3);
                    background-color: #eee;
                    width: 100%;
                    padding-bottom: 1rem;
                }
            }

            .img-container {
                width: 20vw;
                height: 20vw;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
            }

            button.delete-indexed {
                background-color: red;
                color: white;
                position: absolute;
                bottom: 1rem;
                right: 0;
                z-index: 2;
                cursor: pointer;
            }
        }
    }
}
