#root {
    .queue-chart {
        display: flex;
        justify-content: space-between;

        .chart-container {
            padding: 0.5rem;
        }

        .ct-chart .ct-chart-line {
            background-color: rgba(0, 60, 100, 0.2);
        }

        .flex-row {
            display: flex;
        }

        .flex-column {
            display: flex;
            flex-direction: column;
        }

        .labels {
            display: flex;
            flex-direction: column;
            color: #aaa;
            font-size: 0.875rem;
            justify-content: center;
        }
    }
}
