#root {
    .queue-logs {
        .logs {
            border: 1px solid #aaa;
            height: 400px;
            overflow-y: auto;
            padding: 0.5rem;

            p {
                margin: 0;
                padding: 0.1rem 0;
                font-size: 0.875rem;
            }
        }
    }
}
